body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

input, select {
  padding: 8px;
  margin: 5px 0;
  width: 100%;
}